@charset "UTF-8";

body {
    background: rgb(49, 142, 230);
    font: normal 15pt Arial;
}

header{
    text-align: center;
    color: white;
}
section{
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 30px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
}
input {margin-bottom: 10px;}
div#foto {
    text-align: center;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}